extends globalMixins

block html
  - var mainObject = 'planeTest'
  md-content
    h1 Testes realizados em aviões

    <!-- Button trigger modal -->
    div
      md-button(ng-click="showAdvanced($event)") Adicionar

    md-content.md-padding(layout-xs="column", layout="column")
      md-grid-list(md-cols-gt-md="5", md-cols="3", md-cols-md="3", md-row-height-gt-md="8:13", md-row-height="8:13", md-gutter-gt-md="16px", md-gutter-md="8px", md-gutter="4px")
        //- List
        md-grid-tile(ng-repeat=""+mainObject+" in "+mainObject+"s")
          md-card(flex)
            md-card-title
              md-card-title-text
                span.md-headline Id {{#{mainObject}.id_teste_principal}}
            md-card-content
              md-list
                +foreignListInfo('Teste :',mainObject + '.id_teste_principal')
                md-list-item: p Id teste aviao : {{#{mainObject}.id_teste_aviao}}
                md-list-item: p Id avião: {{#{mainObject}.id_aviao}}
                md-list-item: p Data do teste: {{#{mainObject}.dat_teste | date : 'dd/MM/yyyy'}}
                +foreignListInfo('Tester :',mainObject + '.id_funcionario')
                md-list-item: p Pontuação : {{#{mainObject}.val_pontuacao_aviao + '/' + requestedsArr[#{mainObject}.id_teste_principal+'maxPoint'] }}
            +cardFooter(mainObject)

  script(type="text/ng-template" id="dialog1.tmpl.html")
    md-dialog(layout-padding="",style="min-width:500px;")
      form(ng-cloak,name="form")

        +dialogTitle("id_teste_aviao","Id","item.id_teste_aviao")(type="number", disabled, required)

        md-dialog-content(layout-padding,style="padding-top:10px")
          //- Disabled, some data inconsistence in the database (on  change should do a check on the max value for the new id)
          +foreignSelectDisabledOnEdit(
            'Teste principal',
            'item.id_teste_principal',
            'id_teste_principal',
            'principalTest',
            'principalTest.id_teste_principal',
            'principalTest.den_teste'
           )

          //- Plane select
          +foreignSelect(
            'Avião',
            'item.id_aviao',
            'id_aviao',
            'plane',
            'plane.id_aviao',
            'searchValueForGiven(planesModels,plane.id_modelo_aviao,"cod_modelo_aviao")+" - "+plane.id_aviao '
          )

          //- Date picker for test date
          +materialDatePicker('dat_teste','Data do teste','item.dat_teste')

          //- Employee
          +foreignSelect(
            'Realizado por',
            'item.id_funcionario',
            'id_funcionario',
            'employee',
            'employee.num_matricula',
            'employee.nom_funcionario'
          )

          +materialInput(
            'val_pontuacao_aviao',
            'Pontuação',
          'item.val_pontuacao_aviao'
          )(type="number",
            required,
            max="{{searchValueForGiven(principalTests,item.id_teste_principal,'val_pontuacao_maxima')}}",
          min="0")
      //- Confirm
      +dialogFooter('item')
